<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">金融平台欢迎您</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;常用链接</h3>
        <ul>
            <li><a href="http://wiki.corp.qunar.com/confluence/display/financeBU/Home" target="_blank">金融Home</a></li>
            <li><a href="http://wiki.corp.qunar.com/confluence/pages/viewpage.action?pageId=158010241" target="_blank">支撑平台首页</a></li>
            <li><a href="http://paydata.corp.qunar.com/hawkeye/hawkeye/jsp/dashboard" target="_blank">鹰眼系统</a></li>
            <li><a href="http://pmo.corp.qunar.com/" target="_blank">PMO首页</a></li>
            <li><a href="http://watcher.corp.qunar.com/#/dash/team/qunar.team.finance" target="_blank">金融监控</a></li>
            <li><a href="http://gitlab.corp.qunar.com/groups/payfinance" target="_blank">Gitlab首页</a></li>
            <li><a href="http://nexus.corp.qunar.com/nexus/#welcome" target="_blank">Nexus仓库</a></li>
            <li><a href="http://finance.corp.qunar.com/index.do" target="_blank">金融后台</a></li>
            <li><a href="http://cfom.ctripcorp.com/index.htm;jsessionid=0DEF7122528D78EF01B39BAB46B6C556" target="_blank">携程拿去花</a></li>
            <li><a href="http://consumerfinance.ctripcorp.com/Deposit-OfflineWeb/Deposit/DepositOrderMgt.aspx?module=29292" target="_blank">携程存款证明</a></li>
            <li><a href="http://offline.kefu.ctripcorp.com/livechat-service/UserLogin.aspx?rurl=%2flivechat-service%2fdefault.aspx" target="_blank">chat</a></li>
            <li><a href="http://credit-offline.risk.ctripcorp.com/index" target="_blank">携程征信</a></li>
            <li><a href="http://tradeadmin.corp.qunar.com/index.do#/orderInfo/query.do" target="_blank">交易管理系统</a></li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;技术支持</h3>
        <ul>
            <li>qtalk@wei.duan qtalk@tongjie.yang</li>
            <li>金融-基础架构-基础服务组</li>
        </ul>
    </div>
</div>
</body>
</html>