<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qunar.fintech.plat.admin.hank.mapper.FileTaskMapper">

    <resultMap id="BaseResultMap" type="com.qunar.fintech.plat.admin.hank.entity.FileTask">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="task_type" jdbcType="VARCHAR" property="taskType" />
        <result column="account_time" jdbcType="DATE" property="accountTime" />
        <result column="start_id" jdbcType="BIGINT" property="startId" />
        <result column="end_id" jdbcType="BIGINT" property="endId" />
        <result column="status" jdbcType="TINYINT" property="status" />
    </resultMap>

    <sql id="Base_Column_List">
        id, task_type, account_time, start_id, end_id, status
    </sql>

    <!-- 根据 id 查询 -->
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from file_task where id = #{id,jdbcType=BIGINT}
    </select>

    <!-- 根据 taskType & accountTime 查询 -->
    <select id="selectByTaskTypeAndAccountTime" parameterType="java.lang.Object" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from file_task
        where task_type = #{taskType,jdbcType=VARCHAR} and account_time = #{accountTime,jdbcType=DATE}
    </select>

    <!--条件查询-->
    <select id="select" parameterType="java.lang.Object" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from file_task
        <where>
            <if test="id != null and id != ''">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="taskType != null and taskType != ''">
                and task_type = #{taskType,jdbcType=VARCHAR}
            </if>
            <if test="accountTime != null and accountTime != ''">
                and account_time = #{accountTime,jdbcType=DATE}
            </if>
        </where>
        order by id
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <!-- 条件查询数量 -->
    <select id="count" parameterType="java.lang.Object" resultType="int">
        select count(*) from file_task
        <where>
            <if test="id != null and id != ''">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="taskType != null and taskType != ''">
                and task_type = #{taskType,jdbcType=VARCHAR}
            </if>
            <if test="accountTime != null and accountTime != ''">
                and account_time = #{accountTime,jdbcType=DATE}
            </if>
        </where>
    </select>

    <!-- 插入 -->
    <insert id="insertSelective" parameterType="com.qunar.fintech.plat.admin.hank.entity.FileTask">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into file_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskType != null">
                task_type,
            </if>
            <if test="accountTime != null">
                account_time,
            </if>
            <if test="startId != null">
                start_id,
            </if>
            <if test="endId != null">
                end_id,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskType != null">
                #{taskType,jdbcType=VARCHAR},
            </if>
            <if test="accountTime != null">
                #{accountTime,jdbcType=DATE},
            </if>
            <if test="startId != null">
                #{startId,jdbcType=BIGINT},
            </if>
            <if test="endId != null">
                #{endId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.qunar.fintech.plat.admin.hank.entity.FileTask">
        update file_task
        <set>
            <if test="taskType != null">
                task_type = #{taskType,jdbcType=VARCHAR},
            </if>
            <if test="accountTime != null">
                account_time = #{accountTime,jdbcType=DATE},
            </if>
            <if test="startId != null">
                start_id = #{startId,jdbcType=BIGINT},
            </if>
            <if test="endId != null">
                end_id = #{endId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>